<script defer src="/js/product.js"></script>
<div id="{{product.id}}" class="card" style="width:300px">
  <img class="card-img-top" src="{{product.img}}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Товар: {{product.title}}</h4>
    <p class="card-text">Локация: {{product.location}}</p>
    <p class="card-text">Старая цена: {{product.price}}</p>
    <p class="card-text">Новая цена: {{discountedPrice}}</p>
    <p class="card-text">Загружено {{product.createdAt}}</p>
    <p class="card-text">Курьер: {{product.User.name}}</p>
    <a href="/orders/checkout" class="btn btn-primary">Купить</a>
    {{#if isAuthor}}
    <button id="deleteProductButton" data-entryid="{{product.id}}" value="delete"
      class="btn btn-danger">Удалить</button>
    {{/if}}
  </div>
</div>
